<div class="container">
<h3>Acessa aí, acessa aí</h3>

<h3>I am the AppComponent!</h3>
<hr>
<!-- This code, as we set app servers as an attribute, like ['app-servers'] in this case we may need to add a div
and pass app-servers inside -->
<!-- <app-servers></app-servers>
this works because now angular selects the element by attribute, and not by the element itself
<div app-servers></div>
-->
<!-- if our component selector is a class, we can call the component like this -->
<!-- <div class="app-servers"></div> -->

<!--
Sidenote:

Selecting by id won't work, that is not supported by angular, and also the pseudo selectors, like hover and so on, they
also don't work

for components we tipically use the normal string to do so, therefore in the case of app-server it will be just
selector: 'app-servers', so it's called with <app-servers></app-servers>

-->

<app-servers></app-servers>

</div>
