<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">
        Only Show Odd Numbers
      </button>
      <br><br>
      <ul class="list-group">
        <!--
        the * in front of ngFor is important, because there is no 'star' in the angular syntax when using directives or
        anything like that, so we could write the same list differently

        -->

        <!-- <ng-template [ngIf]="onlyOdd">
          <div>
            <li class="list-group-item" [ngClass]="{odd: oddNumber % 2 != 0}"
              [ngStyle]="{backgroundColor: oddNumber % 2 !== 0 ? 'yellow' : 'white'}" *ngFor="let oddNumber of oddNumbers">
              {{oddNumber}}
            </li>
          </div>
        </ng-template> -->


        <!-- <div *ngIf="onlyOdd">

          <li
            class="list-group-item"
            [ngClass]="{odd: oddNumber % 2 != 0}"
            [ngStyle]="{backgroundColor: oddNumber % 2 !== 0 ? 'yellow' : 'white'}"

            *ngFor="let oddNumber of oddNumbers"


          >
            {{oddNumber}}
          </li>
        </div> -->
        <div *ngIf="onlyOdd">

          <li class="list-group-item" [ngClass]="{odd: oddNumber % 2 != 0}"
            [ngStyle]="{backgroundColor: oddNumber % 2 !== 0 ? 'yellow' : 'white'}" *ngFor="let oddNumber of oddNumbers">
            {{oddNumber}}
          </li>
        </div>
      </ul>
      <ul class="list-group">
        <div *appUnless="onlyOdd">
          <li
          class="list-group-item"
          [ngClass]="{even: evenNumber % 2 === 0}"
          *ngFor="let evenNumber of evenNumbers"
          >
            {{evenNumber}}
          </li>

        </div>
      </ul>
    </div>
  </div>
</div>
