<label>Server Name</label>



<input type="text" class="form-control" [(ngModel)]="serverName" />


<button
class="btn btn-primary"
[disabled]="!allowNewServer"
(click)="onCreateServer()">
  Add Server
</button>

<p *ngIf="serverCreated">Server was created, server name is {{serverName}}</p>

<!-- *ngFor is a directive that will loop based on a ts expression similar to a js for loop

________________________________________________________________________//_____________________________________________

A new syntax introduced in angular 17 is this one

@for(item of items; track item.id) {
  <li>{{item.title}}</li>
}

it would be the same as

<li *ngFor="let item of items">{{item.title}}</li>

the advantage of the new syntax is that it can be slightly more efficient ujnder the hood and it does not rely on NgFor
or the CommonModule being imported, just like the @if()

The track item.id is a required field, it ensures that angular can efficiently track and re-render(if meeded) the list items


-->





<div class="servers mt-5">

  <!-- <app-server *ngFor="let server of servers"></app-server> -->

  <app-server></app-server>
  <app-server></app-server>
</div>
