<hr>

<h1>Bind It!</h1>

<hr>

<ol>
  <li>Create three new components: GameControl, Odd, Even</li>
  <li>The GameControl Component should have buttons to start and stop the game - V</li>
  <li>When starting the game, an event (holding a incrementing number) should get emitted each second (ref =
    setInterval()) -</li>
  <li>Event should be listenable outside the component -</li>
  <li>When stopping the game, no more events should get emitted (clear interval) -</li>
  <li>A new odd component should get created for every odd number emitted, the shame should happen for the even</li>
  <li>component (on even number) -</li>
  <li>Simply output Odd - NUMBER or Even - NUMBER in the two components -</li>
  <li>Style the element (e.g paragraph) holding you output text differently in both components -</li>
</ol>

<hr>

<div class="col-xs-12">
  <!-- Now here we can keep track of the timer count outputted event, to keep track of the current count number
  then on the timerCount we are going to call the four-assignment method onIntervalFired which will call the component

  let's break it down what is happening

  timerCount is the property event being emitted from the game-control, it holds the value of the current interval count
  and pass it up to other components.

  Here on the parent component, which is calling the game-control, i'm binding this component call to the event being
  emitted (timerCount), and when that event gets emitted, its value is passed to the onIntervalFired($event), then, on this component
  method, it is going to have access to the value being emitted

    basically the onIntervalFired is a method in the parent component that handles the event being emitted by timerCount.
    the $event value, being passed as a parameter, is the timer count value that was fired


  -->
  <app-game-control (timerCount)="onIntervalFired($event)"></app-game-control>



</div>

<div class="col-xs-12">

<app-odd *ngFor="let oddNumber of oddNumbers" [number]="oddNumber"> </app-odd>

<app-even *ngFor="let evenNumber of evenNumbers" [number]="evenNumber"></app-even>

</div>





