<div class="container">
  <app-cockpit (serverCreated)="onServerAdded($event)" (bpCreated)="onBlueprintAdded($event)">
  </app-cockpit>

  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirst()">Change First Element</button>
      <button class="btn btn-danger" (click)="onDestroyFirst()">Destroy First Element</button>
      <app-server-element
      *ngFor="let serverElement of serverElements"
      [srvElement]="serverElement"
      [name]="serverElement.name">
        <p #contentParagraph>
          <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
          <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
        </p>
        <!-- By default, whatever we place inside the opening and closing of a component in angular, is lost, so in this
        initial case, it wouldn't display any information

        But we can change this, there is a special directive that looks like a component but it doesn't have its own template,
        it's a special directive we can add into the component which we want to, the <ng-content></ng-content>, we place it
        where we want to display any content between its closing and opening tag

      -->
      </app-server-element>

    </div>
  </div>

  <!-- ////////////////////////////////////////////////////////////////_////////////////////////////////////////////////
                                                    Fourth course assignment
  -->

  <app-fourth-assignment></app-fourth-assignment>
</div>
