<label>Server Name</label>

<!-- Here we are using all forms of databinding

string interpolation to output the ts code properties
event binding to bind the click of the button to add a server and update the ts property
property binding to enable the button after the two seconds
two way binding, to alter the input data both on the ts and on the html -->


<!-- another form of setting the serverName, the one way databinding

  <input type="text" class="form-control" (input)="onUpdateServerName($event)" />
-->



<input type="text" class="form-control" [(ngModel)]="serverName" />


<button
class="btn btn-primary"
[disabled]="!allowNewServer"
(click)="onCreateServer()">
  Add Server
</button>

<!-- <p>Name is: {{serverName}}</p> -->

<p>{{serverCreationStatus}}</p>

<!-- The star is required because ngIf is a structural directive, which means that it changes the structure of our DOM
it either adds the element or it doesn't add it.

Inside of it is just like a conditional if we see everyday, it receives an expression that returns either true or false,
deciding whether it should be added or not

One thing important to know is that this element is not hidden, it's just not there, the DOM of it hasn't been loaded if
it didn't resolve to true
-->
<p *ngIf="serverCreated">Server was created, server name is {{serverName}}</p>


<!-- <app-server></app-server>
<app-server></app-server> -->
