<!--
  Just checking something
  <div class="container">
  <span>Your password is: </span>
  <span *ngIf="secretPassword === 'tuna'; else wrongPassword">tuna</span>
  <ng-template #wrongPassword>
    wrong password
  </ng-template>
</div> -->

<button (click)="toggleButton()" class="btn btn-primary">Display Details</button>

<div *ngIf="toggleDetails === true">
  <!-- <p [ngStyle]="log.length >= 5 ? {'background-color': 'blue', color: 'white'} : {}">Acessa aí acessa aíííí</p> -->
  <p>Acessa aí acessa aí</p>
</div>

<div>
  <ul>
    <li *ngFor="let item of log; let i = index" [ngStyle]="i > 4 ? { backgroundColor: 'blue', color: 'white'} : {}">
      {{item.timestamp | date:'mediumTime'}} - {{item.message}}
    </li>
  </ul>
</div>


